<div class="navbar navbar-default header-highlight">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a ng-click="isMobile = !isMobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>
    <div ng-show="isMobile" class="navbar-collapse collapse visible-xs">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-git-compare"></i>
                    <span class="visible-xs-inline-block position-right">Git updates</span>
                    <span class="badge bg-warning-400">9</span>
                </a>
                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        Git updates
                        <ul class="icons-list">
                            <li><a href="index.htm#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="index.htm#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                            </div>
                            <div class="media-body">
                                Drop the IE <a href="index.htm#">specific hacks</a> for temporal inputs
                                <div class="media-annotation">4 minutes ago</div>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown-content-footer">
                        <a data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        <p class="navbar-text hidden-xs"><span class="label bg-success">Online</span></p>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/flags/gb.png" class="position-left" alt=""> English
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="deutsch"><img src="assets/images/flags/de.png" alt=""> Deutsch</a>
                    </li>
                    <li>
                        <a class="ukrainian"><img src="assets/images/flags/ua.png" alt=""> Українська</a>
                    </li>
                    <li>
                        <a class="english"><img src="assets/images/flags/gb.png" alt=""> English</a>
                    </li>
                    <li>
                        <a class="espana"><img src="assets/images/flags/es.png" alt=""> España</a>
                    </li>
                    <li>
                        <a class="russian"><img src="assets/images/flags/ru.png" alt=""> Русский</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="index.htm#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="visible-xs-inline-block position-right">Messages</span>
                    <span class="badge bg-warning-400">2</span>
                </a>
                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        Messages
                        <ul class="icons-list">
                            <li><a href="index.htm#"><i class="icon-compose"></i></a></li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body">
                        <li class="media">
                            <div class="media-left">
                                <img src="assets/images/demo/users/face10.jpg" class="img-circle img-sm" alt="">
                                <span class="badge bg-danger-400 media-badge">5</span>
                            </div>
                            <div class="media-body">
                                <a href="index.htm#" class="media-heading">
                                    <span class="text-semibold">James Alexander</span>
                                    <span class="media-annotation pull-right">04:58</span>
                                </a>
                                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <img src="assets/images/demo/users/face3.jpg" class="img-circle img-sm" alt="">
                                <span class="badge bg-danger-400 media-badge">4</span>
                            </div>
                            <div class="media-body">
                                <a href="index.htm#" class="media-heading">
                                    <span class="text-semibold">Margo Baker</span>
                                    <span class="media-annotation pull-right">12:16</span>
                                </a>
                                <span class="text-muted">That was something he was unable to do because...</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><img src="assets/images/demo/users/face24.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="index.htm#" class="media-heading">
                                    <span class="text-semibold">Jeremy Victorino</span>
                                    <span class="media-annotation pull-right">22:48</span>
                                </a>
                                <span class="text-muted">But that would be extremely strained and suspicious...</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><img src="assets/images/demo/users/face4.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="index.htm#" class="media-heading">
                                    <span class="text-semibold">Beatrix Diaz</span>
                                    <span class="media-annotation pull-right">Tue</span>
                                </a>
                                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left"><img src="assets/images/demo/users/face25.jpg" class="img-circle img-sm" alt=""></div>
                            <div class="media-body">
                                <a href="index.htm#" class="media-heading">
                                    <span class="text-semibold">Richard Vango</span>
                                    <span class="media-annotation pull-right">Mon</span>
                                </a>
                                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown-content-footer">
                        <a href="index.htm#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
            <li class="dropdown dropdown-user" ng-controller="AuthCtrl">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="{{serverUrl}}{{rootAuth.avatar}}" alt="">
                    <span>{{rootAuth.name.firstname}} {{rootAuth.name.lastname}}</span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a><i class="icon-user-plus"></i> My profile</a></li>
                    <li><a><i class="icon-coins"></i> My balance</a></li>
                    <li><a><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                    <li class="divider"></li>
                    <li><a><i class="icon-cog5"></i> Account settings</a></li>
                    <li ng-click="logout()"><a><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
