.login {
    .text-center{
        text-align: center;
    }
    .page-title{
        display: block;
        margin: 30px 0 30px;
        padding: 8px 0 8px 0;
        font-size: 1.8rem;
        line-height: 1.2;
        color: #7f8c8d;
    }
}
