<div ng-controller="ArticleController as vm" ng-init="vm.index()">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">{{'LABEL.ARTICLE' | translate}}</span> - {{'LABEL.LIST_ARTICLE' | translate}} ({{'LABEL.TOTAL_ARTICLE' | translate}}: {{total}})</h4>
                <ul class="breadcrumb">
                    <li><a href="#/app/dashboard">Home</a></li>
                    <li><a>{{'LABEL.ARTICLE' | translate}}</a></li>
                    <li class="active">{{'LABEL.LIST_ARTICLE' | translate}}</li>
                </ul>
            </div>
            <div class="heading-elements">
                <a ng-click="vm.create()" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> {{'ACTION.ADD_NEW' | translate}}</a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-lg-9" ng-if="isSearch">
              <h4 class="text-primary">{{'LABEL.SEARCH_RESULT_FOR' | translate}}: "{{search_value}}"  | {{'LABEL.TOTAL_SEARCH_RESULT' | translate}}: {{searchTotal}} <button class="btn btn-danger btn-sm pull-right" ng-click="vm.cancelSearch()"><i class="icon-cancel-square"></i> {{'ACTION.CANCEL_SEARCH' | translate}}</button></h4>
            </div>
            <div class="col-lg-9">
                <div class="panel panel-flat" ng-repeat="article in vm.articles">
                    <div class="panel-heading">
                        <h6 class="panel-title pointer"><a ng-click="vm.detail(article._id)">{{article.name}}</a></h6>
                        <div class="heading-elements">
                            <span class="heading-text">
                              <span style="margin-right:20px" ng-if="article.active == 1" class="label label-success label-sm">{{'LABEL.ACTIVE' | translate}}</span>
                              <span style="margin-right:20px" ng-if="article.active == 0" class="label label-default label-sm">{{'LABEL.NON_ACTIVE' | translate}}</span>
                              <span am-time-ago="article.created_at"></span>
                            </span>
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="index.htm#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-arrow-down12"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-if="article.active == 1"><a ng-click="vm.hideThisArticle(article)"><i class="icon-eye-blocked"></i> {{'ACTION.HIDE_THIS_ARTICLE' | translate}}</a></li>
                                        <li ng-if="article.active == 0"><a ng-click="vm.displayThisArticle(article)"><i class="icon-eye"></i> {{'ACTION.DISPLAY_THIS_ARTICLE' | translate}}</a></li>
                                        <li><a ng-click="vm.edit(article._id)"><i class="icon-pencil"></i> {{'ACTION.UPDATE_THIS_ARTICLE' | translate}}</a></li>
                                        <li class="divider"></li>
                                        <li><a ng-click="vm.destroy(article)"><i class="icon-trash"></i> {{'ACTION.DELETE_THIS_ARTICLE' | translate}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{article.description}}</p>
                        <a class="display-block content-group" ng-if="article.feature_image != null">
                            <img ng-click="vm.detail(article._id)" ng-src="{{serverUrl}}{{article.feature_image}}" class="img-responsive content-group" alt="">
                        </a>
                    </div>
                    <div class="panel-footer">
                        <ul>
                            <li><a href="index.htm#"><i class="icon-thumbs-up2 position-left"></i> 438</a></li>
                            <li><a href="index.htm#"><i class="icon-comment-discussion position-left"></i> 71</a></li>
                            <li><a href="index.htm#"><i class="icon-eye4 position-left"></i> 438</a></li>
                        </ul>
                        <ul class="pull-right">
                            <li><a ng-click="vm.detail(article._id)">{{'ACTION.VIEW_DETAIL' | translate}} <i class="icon-arrow-right14 position-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary" ng-if="!isSearch" disable-button ng-click="vm.more()" ng-show="articles.length < total"> {{'ACTION.VIEW_MORE' | translate}}</button>
                  <button class="btn btn-primary" ng-if="isSearch" disable-button ng-click="vm.more()" ng-show="articles.length < searchTotal"> {{'ACTION.VIEW_MORE_SEARCH_RESULT' | translate}}</button>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- Navigation -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{'LABEL.SEARCH_THE_ARTICLE' | translate}}</h6>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="vm.search()">
                            <div class="has-feedback has-feedback-left">
                                <input type="search" ng-model="query" class="form-control" placeholder="{{'LABEL.TYPE_AND_HIT_ENTER' | translate}}">
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base text-muted"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{'LABEL.NAVIGATOR' | translate}}</h6>
                    </div>
                    <div class="list-group list-group-borderless no-padding-top">
                        <a class="list-group-item" ng-click="vm.create()"><i class="icon-pencil"></i> {{'ACTION.ADD_NEW_ARTICLE' | translate}}</a>
                    </div>
                </div>
                <!-- /navigation -->
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
