<div ng-controller="ProductCtrl">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">{{'LABEL.ARTICLE' | translate}}</span> - {{'LABEL.EDIT_ARTICLE' | translate}}</h4>
                <ul class="breadcrumb">
                    <li><a href="#/app/dashboard">Home</a></li>
                    <li><a>{{'LABEL.ARTICLE' | translate}}</a></li>
                    <li class="active">{{'LABEL.EDIT_ARTICLE' | translate}}</li>
                </ul>
            </div>
            <div class="heading-elements">
                <a ng-click="backToIndex()" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-square-left"></i></b> {{'ACTION.BACK_TO_LIST' | translate}}</a>
            </div>
        </div>
    </div>

    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- Collapsible lists -->
        <div class="row">
            <div class="col-md-12">
                <!-- Collapsible list -->
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form name="editArticle">
                                    <div class="form-group">
                                        <label for="">{{'LABEL.ARTICLE_NAME' | translate}}:</label>
                                        <input type="text" class="form-control" name="article_name" ng-model="article.name" validator="required" required-error-message="{{'VALIDATE_MESSAGE.REQUIRED' | translate}}">
                                    </div>
                                    <div class="form-group">
                                      <label for="">{{'LABEL.DESCRIPTION' | translate}}:</label>
                                        <textarea name="" id="" cols="30" rows="3" class="form-control" ng-model="article.description" validator="maxlength=255" maxlength-error-message="{{'VALIDATE_MESSAGE.TOO_LONG' | translate}}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <summernote config="optionsEditor" ng-model="article.content" on-image-upload="updateImageForEditor(files)" editable="editable" editor="editor"></summernote>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Tags:</label>
                                        <tags-input ng-model="article.tags" placeholder="{{'LABEL.ADD_NEW_TAG' | translate}}..."></tags-input>
                                    </div>
                                    <div class="form-group">
                                        <label for="">{{'LABEL.ARTICLE_SEO_TITLE' | translate}}</label>
                                        <input type="text" class="form-control" ng-model="article.seo_title">
                                    </div>
                                    <div class="form-group">
                                        <label for="">{{'LABEL.ARTICLE_SEO_DESCRIPTION' | translate}}</label>
                                        <input type="text" class="form-control" ng-model="article.seo_description">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-file btn-primary"><i class="icon-image4"></i> {{'ACTION.ADD_NEW_FEATURE_IMAGE' | translate}}
                                            <input ngf-select="onSelectFeatureImage($file)" name="file" accept="image/*" ngf-max-size="2MB" type="file">
                                        </button>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="thumbnail" ng-hide="article.feature_image == null">
                                                    <div class="thumb">
                                                        <img ng-src="{{serverUrl}}{{article.feature_image}}" alt="">
                                                        <div class="caption-overflow">
                                                            <span>
                                                          <a ng-click="removeFeatureImage()" class="btn bg-warning-300 btn-icon"><i class="icon-trash"></i></a>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group text-right">
                                        <button disable-button ng-click="update(editArticle)" class="btn btn-primary"><i class="icon-checkmark3"></i> {{'ACTION.SAVE' | translate}}</button>
                                        <button class="btn btn-link"> {{'ACTION.CANCEL' | translate}}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /collapsible lists -->
    </div>
    <!-- /content area -->
</div>
