<div ng-controller="MenuController as vm" ng-init="vm.showThisFood()">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">{{'LABEL.MENU' | translate}}</span> - {{'LABEL.DETAIL_FOOD' | translate}}</h4>
                <ul class="breadcrumb">
                    <li><a href="#/app/dashboard">Home</a></li>
                    <li><a>{{'LABEL.MENU' | translate}}</a></li>
                    <li class="active">{{'LABEL.DETAIL_FOOD' | translate}}</li>
                </ul>
            </div>
            <div class="heading-elements">
                <a ng-click="vm.create()" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> {{'ACTION.ADD_NEW' | translate}}</a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{vm.food.name}}</h6>
                        <div class="heading-elements">
                            <span class="heading-text">
                                <span ng-if="vm.food.active == 1" class="label label-success">{{'LABEL.ACTIVE' | translate}}</span>
                                <span ng-if="vm.food.active == 0" class="label label-default">{{'LABEL.NON_ACTIVE' | translate}}</span> 
                                {{food.created_at | date:'dd-MM-yyyy HH:mm'}}
                            </span>
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-arrow-down12"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-if="vm.food.active == 1"><a ng-click="vm.hideThisFood(vm.food)"><i class="icon-eye-blocked"></i> {{'ACTION.HIDE_THIS_FOOD' | translate}}</a></li>
                                        <li ng-if="vm.food.active == 0"><a ng-click="vm.displayThisFood(vm.food)"><i class="icon-eye"></i> {{'ACTION.DISPLAY_THIS_FOOD' | translate}}</a></li>
                                        <li><a ng-click="vm.editThisFood(vm.food,'fromDetail')"><i class="icon-pencil"></i> {{'ACTION.UPDATE_THIS_FOOD' | translate}}</a></li>
                                        <li class="divider"></li>
                                        <li><a ng-click="vm.destroyThisFood(vm.food,'fromDetail')"><i class="icon-trash"></i> {{'ACTION.DELETE_THIS_FOOD' | translate}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{vm.food.description}}</p>
                        <div class="carousel slide article-slide" id="article-photo-carousel">
                          <!-- Wrapper for slides -->
                            <div class="carousel-inner cont-slider">
                                <div class="item" ng-class="{'active': $index == 0}" ng-repeat="gallery in vm.food.galleries">
                                    <img alt="" title="" ng-src="{{serverUrl}}{{gallery}}" class="img-responsive">
                                </div>
                          </div>
                          <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li ng-class="{'active': $index == 0}" data-slide-to="{{$index}}" data-target="#article-photo-carousel" ng-repeat="gallery in vm.food.galleries">
                                    <img alt="" ng-src="{{serverUrl}}{{gallery}}" width="250" height="180">
                                </li>
                            </ol>
                        </div>  
                        <p ng-bind-html="vm.food.content"></p>
                        <p>
                            <strong>Tags:</strong>
                            <button class="btn btn-primary margin-right-5" ng-repeat="tag in vm.food.tags"><i class="icon-price-tag2"></i> {{tag.text}}</button>
                        </p>
                    </div>
                    <div class="panel-footer">
                        <ul>
                            <li><a><i class="icon-heart5 position-left"></i> {{food.total_wishlist}}</a></li>
                            <li><a><i class="icon-thumbs-up2 position-left"></i> {{food.total_like}}</a></li>
                            <li><a><i class="icon-comment-discussion position-left"></i> {{food.total_comment}}</a></li>
                            <li><a><i class="icon-eye4 position-left"></i> {{food.total_sale}}</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Comment -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title text-semiold"><i class="icon-bubbles4 position-left"></i> {{'LABEL.COMMENTS' | translate}} <small>({{vm.food.total_comment}} {{'LABEL.COMMENTS' | translate}})</small></h5>
                        <div class="heading-elements">
                            <a class="btn bg-blue btn-xs btn-icon"><i class="icon-plus2"></i></a>
                        </div>
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
                    <div class="panel-body">
                        <ul class="media-list content-group-lg stack-media-on-mobile">
                            <li class="media" ng-repeat="(comment_index,comment) in vm.food.comments">
                                <div class="media-left">
                                    <a href="#"><img ng-src="{{serverUrl}}{{comment.users[0].avatar}}" class="img-circle img-sm" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a class="text-semibold">{{comment.users[0].name.firstname}} {{comment.users[0].name.lastname}} ({{rootStore.name}})</a>
                                        <span class="media-annotation dotted" am-time-ago="comment.created_at"></span>
                                    </div>
                                    <p ng-if="!comment.isEditComment" ng-bind-html="comment.content"></p>
                                    <ul ng-if="!comment.isEditComment" class="list-inline list-inline-separate text-size-small">
                                        <li><a ng-click="vm.getReplyComment(comment)">{{'ACTION.REPLY' | translate}} ({{comment.total_replied}})</a></li>
                                        <li><a ng-click="comment.isEditComment = !comment.isEditComment">{{'ACTION.EDIT' | translate}}</a></li>
                                        <li><a ng-click="vm.destroyComment(comment_index,comment)">{{'ACTION.DELETE' | translate}}</a></li>
                                    </ul>

                                    <!-- Edit comment -->
                                    <textarea ng-if="comment.isEditComment" class="form-control" cols="10" rows="5" ng-model="comment.content"></textarea>
                                    <ul ng-if="comment.isEditComment" class="list-inline list-inline-separate text-size-small">
                                        <li><a ng-click="vm.updateComment(comment_index,comment)">{{'ACTION.SAVE' | translate}}</a></li>
                                        <li><a ng-click="comment.isEditComment = !comment.isEditComment">{{'ACTION.CANCEL' | translate}}</a></li>
                                    </ul>
                                    <!-- Edit comment -->

                                    <!-- Replied comment -->
                                    <div class="media" ng-repeat="(reply_index,reply) in comment.replieds">
                                        <div class="media-left">
                                            <a><img ng-src="{{serverUrl}}{{reply.users[0].avatar}}" class="img-circle img-sm" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <!-- Comment -->
                                            <div class="media-heading">
                                                <a href="#" class="text-semibold">{{reply.users[0].name.firstname}} {{reply.users[0].name.lastname}}</a>
                                                <span class="media-annotation dotted" am-time-ago="reply.created_at"></span>
                                            </div>
                                            <p ng-if="!reply.isEditReplyComment" ng-bind-html="reply.content"></p>
                                            <ul ng-if="!reply.isEditReplyComment" class="list-inline list-inline-separate text-size-small">
                                                <li><a ng-click="reply.isEditReplyComment = !reply.isEditReplyComment">{{'ACTION.EDIT' | translate}}</a></li>
                                                <li><a ng-click="vm.destroyRepliedComment(comment_index,comment,reply_index,reply)">{{'ACTION.DELETE' | translate}}</a></li>
                                            </ul>
                                            <!-- Comment -->

                                            <!-- Edit reply comment -->
                                            <input ng-if="reply.isEditReplyComment" type="text" class="form-control" ng-model="reply.content">
                                            <ul ng-if="reply.isEditReplyComment" class="list-inline list-inline-separate text-size-small">
                                                <li><a ng-click="vm.updateReplyComment(comment_index,reply_index,reply)">{{'ACTION.SAVE' | translate}}</a></li>
                                                <li><a ng-click="reply.isEditReplyComment = !reply.isEditReplyComment">{{'ACTION.CANCEL' | translate}}</a></li>
                                            </ul>
                                            <!-- Edit reply comment -->

                                        </div>
                                    </div>
                                    <!-- New reply comment -->
                                    <div class="media" ng-show="comment.isReply">
                                        <div class="media-left">
                                            <a><img ng-src="{{serverUrl}}{{rootAuth.avatar}}" class="img-circle img-sm" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <form ng-submit="vm.replyComment(comment)">
                                                <input type="text" ng-model="comment.reply_content" class="form-control" placeholder="{{'LABEL.REPLY_COMMENT' | translate}}...">
                                            </form>
                                        </div>
                                    </div>
                                    <!-- New reply comment -->
                                    <!-- Replied comment -->
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a class="text-semibold" ng-if="food.comments.length < food.total_comment" ng-click="loadMoreComment()">{{'ACTION.LOAD_MORE_COMMENT' | translate}}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h6 class="text-semibold"><i class="icon-pencil7 position-left"></i> {{'LABEL.YOUR_COMMENT' | translate}}</h6>
                        <div class="content-group">
                            <textarea class="form-control" cols="10" rows="5" ng-model="vm.comment.content"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn bg-blue" ng-disabled="vm.comment.content == null || vm.comment.content == ''" ng-click="vm.storeComment()"><i class="icon-plus22"></i> {{'ACTION.ADD_COMMENT' | translate}}</button>
                        </div>
                    </div>
                </div>
                <!-- Comment -->
            </div>
            <div class="col-lg-3">
                <!-- /navigation -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{'LABEL.NAVIGATOR' | translate}}</h6>
                    </div>
                    <div class="list-group list-group-borderless no-padding-top">
                        <a class="list-group-item" ng-click="vm.backToIndex()"><i class="icon-menu3"></i> {{'ACTION.BACK_TO_LIST' | translate}}</a>
                    </div>
                </div>
                <!-- /navigation -->
                <!-- recent post -->
                <div class="panel panel-flat" ng-repeat="food in vm.foods">
                    <div class="panel-heading">
                        <h6 class="panel-title pointer"><a ng-click="vm.detailThisFood(food._id)">{{food.name}}</a></h6>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="thumbnail" ng-hide="food.feature_image == null">
                                    <div class="thumb">
                                        <img ng-src="{{serverUrl}}{{food.feature_image}}" alt="">
                                        <div class="caption-overflow">
                                            <span>
                                              <a ng-click="vm.detailThisFood(food._id)" class="btn bg-warning-300 btn-icon"><i class="icon-arrow-right8"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p>{{vm.food.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- recent post -->
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
