.display-block {
    display: block !important;
}

.validation-valid {
    color: #1abc9c;
}

.validation-invalid {
    color: red;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-right-5{
  margin-right: 5px;
}

.margin-top-25 {
    margin-top: 25px;
}

.preview-image-post {
    height: 280px;
    border: 1px solid #ecf0f1;
    margin-bottom: 10px;
}

.no-padding {
    padding: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.note-editor.note-frame {
    border: 1px solid #ddd !important;
}

tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    height: 26px;
    line-height: 25px;
    color: white;
    border: none !important;
    border-radius: 0px !important;
    background: #2196F3 !important;
}

tags-input .tags .tag-item .remove-button {
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: 0 0;
    cursor: pointer;
    vertical-align: middle;
    font: 700 16px Arial, sans-serif;
    color: white !important;
}

tags-input .tags {
    border: 1px solid #ddd !important;
    box-shadow: none !important;
    padding: 2px !important;
}
.carousel {
    width: 100%;
    margin-bottom: 15px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
.fade.ng-enter, .fade.ng-leave {
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.fade.ng-enter {
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
}

.fade.ng-leave {
   -webkit-animation-name: fadeOutDown;
   animation-name: fadeOutDown;
}