<div ng-controller="PhotoController as vm" ng-init="vm.index()">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">{{'LABEL.PHOTO' | translate}}</span> - {{'LABEL.ALL_PHOTO' | translate}}</h4>
                <ul class="breadcrumb">
                    <li><a href="#/app/dashboard">Home</a></li>
                    <li><a>{{'LABEL.PHOTO' | translate}}</a></li>
                    <li class="active">{{'LABEL.ALL_PHOTO' | translate}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <!-- Navigation -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{'LABEL.NAVIGATOR' | translate}}</h6>
                    </div>
                    <div class="list-group list-group-borderless no-padding-top">
                        <a class="list-group-item" ng-click="vm.createAlbum()"><i class="icon-plus2"></i> {{'ACTION.ADD_NEW_ALBUM' | translate}}</a>
                    </div>
                </div>
                <!-- /navigation -->
            </div>
            <div class="col-lg-9" ng-if="vm.isSearch">
                <h4 class="text-primary">{{'LABEL.SEARCH_RESULT_FOR' | translate}}: "{{search_value}}"  | {{'LABEL.TOTAL_SEARCH_RESULT' | translate}}: {{searchTotal}} <button class="btn btn-danger btn-sm pull-right" ng-click="vm.cancelSearch()"><i class="icon-cancel-square"></i> {{'ACTION.CANCEL_SEARCH' | translate}}</button></h4>
            </div>   
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-6 col-md-4" ng-repeat="album in vm.albums">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img ng-src="{{serverUrl}}{{album.photos[0].path}}" alt="" class="img-responsive">
                                <div class="caption-overflow">
                                    <span>
                                        <button class="btn btn-primary" type="button" ng-click="vm.detailAlbum(album)">{{'ACTION.VIEW_DETAIL' | translate}}</button>
                                    </span>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="media-heading">
                                    <p>Album: {{album.name}}</p>
                                    <ul class="list-inline list-inline-condensed heading-text">
                                        <li><a class="text-default"><i class="icon-images2"></i> </a> {{album.photos.length}}</li>
                                        <li class="dropdown pull-right">
                                            <a class="dropdown-toggle text-default" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i><span class="caret"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a ng-click="vm.detailAlbum(album)"><i class="icon-arrow-right7"></i> {{'ACTION.VIEW_DETAIL' | translate}}</a></li>
                                                <li><a ng-if="album.deleted == 0" ng-click="vm.hideThisAlbum(album)"><i class="icon-eye-blocked"></i> {{'ACTION.HIDE_THIS_ALBUM' | translate}}</a></li>
                                                <li><a ng-if="album.deleted == 1" ng-click="vm.displayThisAlbum(album)"><i class="icon-eye"></i> {{'ACTION.DISPLAY_THIS_ALBUM' | translate}}</a></li>
                                                <li ng-click="vm.editAlbum(album)"><a><i class="icon-pencil"></i> {{'ACTION.UPDATE_THIS_ALBUM' | translate}}</a></li>
                                                <li class="divider"></li>
                                                <li><a ng-click="vm.removeThisAlbum(album)"><i class="icon-trash"></i> {{'ACTION.REMOVE_THIS_ALBUM' | translate}}</a></li>
                                            </ul>
                                        </li>
                                        <span style="margin:10px 10px 0px 0px" ng-if="album.deleted == 0" class="label label-success label-sm">{{'LABEL.ACTIVE' | translate}}</span>
                                        <span style="margin:10px 10px 0px 0px" ng-if="album.deleted == 1" class="label label-default label-sm">{{'LABEL.NON_ACTIVE' | translate}}</span>
                                    </ul>
                                    <p>{{album.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center" ng-if="vm.albums.length < vm.total_album">
                        <button class="btn btn-primary" ng-click="vm.moreAlbum()">{{'ACTION.VIEW_MORE' | translate}}</button>
                    </div>

                </div>
                <hr/ ng-show="vm.albums.length > 0">
                <div class="row">
                    <div class="col-md-12">
                        <div ngf-drop ngf-select ng-model="vm.files" class="drop-box-photo" 
                            ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                            accept="image/*" 
                            ngf-pattern="'image/*'"><h3>{{'LABEL.CLICK_OR_DRAG_IMAGE_IN_THIS' | translate}}</h3>
                        </div>
                        <div ngf-no-file-drop><h3>{{'LABEL.NOT_SUPPORT_THIS_FILE_PLEASE_CHOOSE_IMAGE' | translate}}</h3></div>
                        <hr/>
                    </div>
                    <div class="col-sm-6 col-md-4" ng-repeat="photo in vm.photos">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img ng-src="{{serverUrl}}{{photo.path}}" alt="" class="img-responsive">
                                <div class="caption-overflow">
                                    <span>
                                        <button class="btn btn-primary" type="button" ng-click="vm.detailPhoto(photo)">{{'ACTION.VIEW_DETAIL' | translate}}</button>
                                    </span>
                                </div>
                            </div>
                            <div class="caption">
                                <div class="media-heading">
                                    <ul class="list-inline list-inline-condensed heading-text">
                                        <li style="margin-right: 20px;"><a class="text-default"><i class="icon-thumbs-up2"></i> </a> 978</li>
                                        <li style="margin-right: 20px;"><a class="text-default"><i class="icon-bubble9"></i></a> 107</li>
                                        <li class="dropdown pull-right">
                                            <a class="dropdown-toggle text-default" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i><span class="caret"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a ng-click="vm.detailPhoto(photo)"><i class="icon-arrow-right7"></i> {{'ACTION.VIEW_DETAIL' | translate}}</a></li>
                                                <li><a ng-if="photo.deleted == 0" ng-click="vm.hideThisPhoto(photo)"><i class="icon-eye-blocked"></i> {{'ACTION.HIDE_THIS_PHOTO' | translate}}</a></li>
                                                <li><a ng-if="photo.deleted == 1" ng-click="vm.displayThisPhoto(photo)"><i class="icon-eye"></i> {{'ACTION.DISPLAY_THIS_PHOTO' | translate}}</a></li>
                                                <li class="divider"></li>
                                                <li><a ng-click="vm.removeThisPhoto(photo)"><i class="icon-trash"></i> {{'ACTION.REMOVE_THIS_PHOTO' | translate}}</a></li>
                                            </ul>
                                        </li>
                                        <span style="margin:10px 10px 0px 0px" ng-if="photo.deleted == 0" class="label label-success label-sm">{{'LABEL.ACTIVE' | translate}}</span>
                                        <span style="margin:10px 10px 0px 0px" ng-if="photo.deleted == 1" class="label label-default label-sm">{{'LABEL.NON_ACTIVE' | translate}}</span>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="col-md-12 text-center" ng-if="vm.photos.length < vm.total_photo">
                        <button class="btn btn-primary" ng-click="vm.morePhoto()">{{'ACTION.VIEW_MORE' | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
