<div ng-controller="UserController as vm" ng-init="vm.index()">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><span class="text-semibold">{{'LABEL.USER' | translate}}</span> - {{'LABEL.LIST_USER' | translate}}</h4>
                <ul class="breadcrumb">
                    <li><a href="#/app/dashboard">Home</a></li>
                    <li><a>{{'LABEL.USER' | translate}}</a></li>
                    <li class="active">{{'LABEL.LIST_USER' | translate}}</li>
                </ul>
            </div>
            <div class="heading-elements">
                <a ng-click="vm.create()" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-task"></i></b> {{'ACTION.ADD_NEW' | translate}}</a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- Collapsible lists -->
        <div class="row">
            <div class="col-md-12">
                <!-- Collapsible list -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{'LABEL.LIST_USER' | translate}}</h5>
                        <div class="heading-elements">
                            <form class="heading-form">
                                <div class="form-group has-feedback">
                                    <input type="search" class="form-control" ng-model="search" placeholder="{{'LABEL.SEARCH' | translate}}">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-size-base text-muted"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <ul class="media-list media-list-linked">
                        <li class="media" ng-repeat="user in vm.users | filter:search">
                            <div class="media-link cursor-pointer" data-toggle="collapse" data-target="#monica{{user._id}}">
                                <div class="media-left"><img ng-src="{{serverUrl}}{{user.avatar}}" class="img-circle" alt=""></div>
                                <div class="media-body">
                                    <div class="media-heading text-semibold">{{user.name.firstname}} {{user.name.lastname}}</div>
                                    <div class="media-heading text-info">{{roles[user.role_id].name}}</div>
                                    <span class="text-muted">{{user.email}}</span>
                                </div>
                                <div class="media-right media-middle text-nowrap">
                                    <i class="icon-menu7 display-block"></i>
                                </div>
                            </div>
                            <div class="collapse" id="monica{{user._id}}">
                                <div class="contact-details">
                                    <ul class="list-extended list-unstyled list-icons">
                                        <li><i class="icon-pin position-left"></i> {{user.address}}</li>
                                        <li><i class="icon-phone position-left"></i> {{user.phone}}</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /collapsible list -->
            </div>
        </div>
        <!-- /collapsible lists -->
    </div>
    <!-- /content area -->
</div>
